
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
 
  
  ul li{
    list-style-type: none;
    display: inline;
   float: right;
   padding: 5px;
   margin-top: -15px;
   
  }
   #pos{
       width: 100%;

   }
    
a{
    position:relative;
    display: inline-block;
   
}
 img{
  width:350px;
 }
 .image{
  margin: 40px;
 }
   p{
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 30px;
    top: 0px;
    margin: auto;
    
  }
   
